<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <!-- Подключение внешнего CSS -->
    <link rel="stylesheet" type="text/css" href="/statics/style.css">
</head>
<body>
    <h2>Вход</h2>
    <form method="post">
        <fieldset>
            <input type="text" id="username" name="username" placeholder="Имя пользователя" required>
            <br>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
            <br>
            <button type="submit">Войти</button>
        </fieldset>
    </form>
    <p></p>
    Нет аккаунта? 
    <a href="/register">Зарегистрируйтесь</a>
</body>
</html>
