<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <!-- Подключение внешнего CSS -->
    <link rel="stylesheet" type="text/css" href="/statics/style.css">
</head>
<body>
    <h2>Регистрация</h2>
    {% if error_message %}
    <div style="color: red; font-weight: bold;">
        {{ error_message }}
        <p></p>
    </div>
    {% endif %}
    <form method="post">
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <p></p>
    <a href="/login">Личный кабинет</a>
</body>
</html>








